html {
  font-size: 46%;
  width: 100vw; }
  @media (min-width: 380px) and (max-width: 509px) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 510px) and (max-width: 720px) {
    html {
      font-size: 46%; } }
  @media (min-width: 721px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 2.1rem;
  font-weight: 400;
  color: #fff;
  padding: 0;
  width: 100vw; }

sub {
  bottom: 0; }

/**
*  Mythbusters styling
**/
h1 {
  font-family: "Gotham Condensed", "Arial Narrow", sans-serif;
  font-size: 4.5rem;
  line-height: 1.05;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 3rem;
  display: inline-block;
  border-bottom: 1px solid #FFF; }
  @media (min-width: 510px) {
    h1 {
      font-family: "Gotham Condensed", "Arial Narrow", sans-serif;
      font-size: 6.5rem;
      line-height: 1.05;
      text-transform: uppercase;
      font-weight: 400; } }

h2 {
  font-family: "Gotham Condensed", "Arial Narrow", sans-serif;
  font-size: 5.5rem;
  line-height: 1.05;
  text-transform: uppercase;
  font-weight: 400;
  margin: 3rem 0 0; }

h3 {
  font-family: "Gotham Condensed", "Arial Narrow", sans-serif;
  font-size: 4.5rem;
  line-height: 1.05;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 3rem;
  display: inline-block;
  border-bottom: 1px solid #FFF; }

p {
  font-size: 2.3rem;
  margin: 2rem 5rem;
  line-height: 1.4; }
  @media (min-width: 380px) and (max-width: 509px) {
    p {
      font-size: 2.3rem; } }
  @media (min-width: 721px) {
    p {
      font-size: 3.3rem; } }

a {
  color: #ccc9c7;
  border-bottom: 1px solid #ccc9c7;
  text-decoration: none; }
  a:hover {
    color: #fff;
    border-color: #fff;
    text-decoration: none; }

.back--btn {
  border: 1px solid #ccc9c7;
  display: inline-block;
  float: left;
  padding: 0.2rem 4rem;
  text-decoration: none; }

.back--links {
  text-align: right;
  text-transform: uppercase;
  width: 90vw;
  font-size: 1.5rem; }

.myth {
  float: left;
  position: relative; }
  .myth:nth-child(odd) .front {
    background-color: #80bd01; }
  .myth:nth-child(even) .front {
    background-color: #009943; }
  @media (min-width: 510px) and (max-width: 949px) {
    .myth:nth-child(1) .front,
    .myth:nth-child(4) .front,
    .myth:nth-child(5) .front {
      background-color: #80bd01; }
    .myth:nth-child(2) .front,
    .myth:nth-child(3) .front,
    .myth:nth-child(6) .front {
      background-color: #009943; } }
  @media (min-width: 950px) {
    .myth:nth-child(odd) {
      background-color: #80bd01; }
    .myth:nth-child(even) {
      background-color: #009943; } }
  .myth img {
    width: 6rem;
    height: 5.5rem;
    clear: both;
    margin: 0 auto;
    display: block; }

.myth,
.front,
.back {
  width: 100vw;
  height: 100vw; }
  @media (min-width: 510px) {
    .myth,
    .front,
    .back {
      width: 50vw;
      height: 50vw; } }
  @media (min-width: 950px) {
    .myth,
    .front,
    .back {
      width: calc(100vw / 3);
      height: calc(100vw / 3); } }

.front,
.back {
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 500;
  -webkit-perspective: 500;
  -moz-perspective: 500;
  -ms-perspective: 500;
  -o-perspective: 500;
  -webkit-transition: -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: transform 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: transform 0.6s;
  -o-transform-style: preserve-3d;
  -ms-transition: transform 0.6s;
  -ms-transform-style: preserve-3d;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  text-align: center; }

.front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg); }
  .flip .front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg); }

.back {
  background-color: #0074c9;
  box-shadow: inset 0px 0px 43px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }
  .flip .back {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
    .flip .back img {
      width: 14rem;
      height: 14rem; }
      @media (min-width: 510px) {
        .flip .back img {
          width: 20rem;
          height: 23rem; } }
  .back.true {
    background-color: #f08002; }

/*# sourceMappingURL=main.css.map */
