// shared styles

//variables

$lightgreen: #80bd01;
$darkgreen: #009943;
$blue: #0074c9;
$orange: #f08002;
$text-color: #fff;
$link-color: #ccc9c7;

$break1: 510px;
$break2: 720px;
$break3: 950px;


html { 
  font-size: 62.5%; 
  width: 100vw;
  height: 100vh;
} 

body {
  font-family: $b-font;
  font-size: 2.1rem;
  font-weight: 400;
  color: $text-color;
  padding:0;
  width: 100vw;
}

sub {
  bottom: 0;
}

a {
  color: $link-color;
  border-bottom: 1px solid $link-color;
  text-decoration: none;

  &:hover {
    color: $blue;
    border-color:$blue;
    text-decoration: none;
  }
}

h6 {
  margin: 1rem;
  
  a {
    border-bottom: 0;
    &:hover {
      color: $blue;
      border-color:$blue;
      text-decoration: none;
    }
  }
}