/**
*  Mythbusters styling
**/

html { 
  font-size: 46%;
  @include breakpoint(380px ($break1 - 1px) ){
    font-size: 62.5%; 
  }
  @include breakpoint($break1 $break2){
    font-size: 46%; 
  }
  @include breakpoint($break2 + 1px){
    font-size: 62.5%; 
  }
} 


h1 {

  @include heading(4.5rem);
  @include breakpoint($break1){
    @include heading(6.5rem);
  }
  margin: 0 auto 3rem;
  display: inline-block;
  border-bottom: 1px solid #FFF;  
}

h2 {
  @include heading(5.5rem);
  margin: 3rem 0 0;
}

h3 {
  @include heading(4.5rem);
  margin: 0 auto 3rem;
  display: inline-block;
  border-bottom: 1px solid #FFF;
}

p {

  font-size: 2.3rem;
  margin: 2rem 5rem;
  width:90%;
  line-height: 1.4;
  @include breakpoint(380px ($break1 - 1px) ){
    font-size: 2.3rem;
  }
  @include breakpoint($break2 + 1px){
    font-size: 3.3rem;
  }
}

a {
  color: $link-color;
  border-bottom: 1px solid $link-color;
  text-decoration: none;

  &:hover {
    color: #fff;
    border-color:#fff;
    text-decoration: none;
  }
}

.back--btn {
  border: 1px solid $link-color;
  display: inline-block;
  float: left;
  padding: 0.2rem 4rem;
  text-decoration:none;
}

.back--links {
  text-align: right;
  text-transform: uppercase;
  width: 90vw;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.myth {
  float: left;
  position: relative;
  overflow:hidden;
  //to make .back full screen
  &.flip {
    //position: static;
  }


  &:nth-child(odd) .front {
    background-color: $lightgreen;
  }
  &:nth-child(even) .front {
    background-color: $darkgreen;
  }

  @include breakpoint($break1 ($break3 - 1px) ){

    &:nth-child(1) .front,
    &:nth-child(4) .front,
    &:nth-child(5) .front {
      background-color: $lightgreen;
    }
    &:nth-child(2) .front,
    &:nth-child(3) .front,
    &:nth-child(6) .front {
      background-color: $darkgreen;
    }
  }

  @include breakpoint($break3){

    &:nth-child(odd) {
    background-color: $lightgreen;
    }
    &:nth-child(even) {
      background-color: $darkgreen;
    }
  }

  img {
    width: 6rem;
    height: 5.5rem;
    clear: both;
    margin: 0 auto;
    display: block;
  }

}

.myth,
.front,
.back {

  width: 100vw;
  height: 100vw;

  @include breakpoint($break1){
    width: 50vw;
    height: 50vw;
  }

  @include breakpoint($break3){
    width: calc(100vw / 3);
    height: calc(100vw / 3);
  }

}


.front, 
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  perspective: 500;
  -webkit-perspective: 500;
  -moz-perspective: 500;
  -ms-perspective: 500;
  -o-perspective: 500;

  -webkit-transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: transform 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: transform 0.6s;
  -o-transform-style: preserve-3d;

  -ms-transition: transform 0.6s;
  -ms-transform-style: preserve-3d;

  transition: transform 0.6s;
  transform-style: preserve-3d;


  position: absolute;
  top: 0;
  left: 0;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  text-align: center;

  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);

}

.front {

    transform:rotateY(0deg);
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
    -o-transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
    z-index: 1;
  .flip &{
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    z-index: 1;
  }

}

.back {
  background-color: $blue;
  -webkit-box-shadow: inset 0px 0px 43px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 43px 0px rgba(0,0,0,0.3);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);  

  p, h1, .back--links, img {
    opacity: 0;
    transition-delay: 0.6s;
    transition: opacity 0.3s;
  }

  .flip & {
      -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);    
    transform: translate3d(0,0,10);
    -webkit-transform: translate3d(0,0,10);
    z-index: 100;
    img {
      width: 14rem;
      height: 14rem;
      @include breakpoint($break1){
        width: 20rem;
        height: 23rem;
      }
    }

    p, h1, .back--links, img {
      opacity:1;
    }

  }

  &.true {
    background-color: $orange;
  }

}


