.panel {
  border: 4px solid $blue;
  box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.4);
  border-radius: 0px;

  .panel-heading {
    background-color: $blue;
    text-align: center;
    text-transform: uppercase;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: $h-font;
    line-height: 1.3;
    font-size: 3.5rem;
    @include breakpoint(690px){
      font-size: 6rem;  
    }
    
  }
}

.puzzle-pieces {
  margin: 15px 0;
  @include breakpoint(1200px){
    //padding: 0 3%;
  }
}

.profile {
  @include clearfix;
  padding: 5px;
  display: none;


  &.initial {
    background-color: $blue;
    display: block;
    @include breakpoint(992px){
      height:340px;
    }

    p {
      @include breakpoint(992px){
        font-size: 3rem;
        padding: 0 1rem;
        line-height: 1.55;
        font-weight: 300; //used to be 400
      }
      
      vertical-align: middle;
      text-align: center !important;
    }
  }
  &.corporate {
    background-color: $darkgreen;
  }
  &.finance {
    background-color: $lightgreen;
  }
  &.industry {
    background-color: $orange;
  }
  &.sports-leisure {
    background-color: $blue;
  }

  img {
    width: 40%;
    height: auto;
    float: left;
    display: block;
    margin: 0 0 20px 0;
  }

  h4 {
    font-family: $h-font;
    text-transform: uppercase;
    padding: 1rem 0;
    border-bottom: 1px solid #fff;
    width: 50%;
    display: inline-block;
    margin: 1rem 2.5rem 0;
    font-size: 1.9rem;
    @include breakpoint(580px){
      font-size: 2.3rem;
    }

    span {
      font-weight: 300;
      font-size: 1.5rem;
      display: block; 
    }
  }

  img + h4 {
    width: 40%;
  }

  h6 {
    padding: 1rem 0;
    margin: 0 2.5rem 1rem;
    display: inline-block;
    width: 40%;
  }

  h6 {
    font-style: italic;
    font-size:1.1rem;
    line-height: 1.6;
  }

  p {
    clear: both;
    line-height: 1.8;
    margin: 2.5rem;
    font-size: 1.6rem;
    @include breakpoint(580px){
      font-size: 2rem;
    }
    &:last-child {
      text-align: right;
      margin-bottom: calc(2.5rem - 5px);
    }
  }

  a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

}


$puzzle_height:77.5%;
.stage {
  border: 1px solid darken($link-color, 15%);
  background-color: lighten($link-color, 15%);
  color: $link-color;
  padding: 20px; //10rem 2rem 2rem;
  text-align: center;
  @include clearfix();
  margin: 15px 0 0;

  p {
    font-size: 1.2rem;
  }
}

[data-cont], [data-stage] {
  height: 0px;
  padding-top:$puzzle_height;
  position:relative;
  cursor:pointer;
}
[data-cont] {
  &.active, &.moving, &.staged {
    background: url('../profiles/puzzle-sprite.png') no-repeat bottom left / 200% auto;
    .left & {
      background-position: bottom 10px left;
    }
    .right & {
      background-position: bottom 10px right;
    }
  }
}
$meet:11.8%;
[data-stage] {
  width:50%;
  float:left;
  padding-top:$puzzle_height/2;
  // background: url('../profiles/puzzle-sprite.png') no-repeat bottom left / 200% auto;
  position:relative;
  visibility:hidden;
  &.active {
    visibility:visible;
  }
  &.left { 
    left:4.5%;
    top:0px;
  }
  &.right {
    right:7%;
    top:0px;
  }
}
[data-piece] {
  background: url('../profiles/puzzle-sprite.png') no-repeat top left / 200% auto;
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  color: #fff;
  font-family: $h-font;
  text-transform: uppercase;
  text-align: center;
  .left & {
    background-position: top left;
  }
  .right & {
    background-position: top right;
  }
  &.staged {
    display:none;
  }
  span {
    vertical-align: middle;
    position: relative;
    top: 42.5%;
    display:block;
    @include transform(translateY(-50%));
    line-height: 1;
    font-size: 1.5rem;
    @include breakpoint(500px){
      font-size: 2.1rem;
    }
    @include breakpoint(1200px){
      font-size: 2.9rem;
    }
  }
}
[data-piece="stage"] {
  display:none;
  .active & {
    display:block;
  }
  .moving & {
    display:none;
  }
  .active_it & {
    background:none;
  }
}

.staging_cont {
  @include clearfix();
  margin-bottom:20px;  
  // margin:0px $meet/2;
  background: url('../profiles/joined-puzzle-sprite.png') no-repeat center bottom;
  background-size:86% auto;
  &.active_it {
    background: url('../profiles/joined-puzzle-sprite.png') no-repeat center top -4px;
    background-size:86% auto;
  }
  &.moving_it {
    background: url('../profiles/joined-puzzle-sprite.png') no-repeat center bottom;
    background-size:86% auto;
  }
  
}
