body {
  color: $blue;
}

h1 {
  @include heading(10vw);
}

p {
  font-size: 2rem;
  line-height: 1.6;
}

.intro {
  text-align: center;
  margin: 20px 30px 60px;
  img {
    display: block;
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
  }
}

.panel-group {
  margin-bottom: 0;

  .panel+.panel {
    margin-top: 0;
  }

  .panel-heading {
    color: #fff;
    padding:0;
    box-shadow: inset 0 -10px 20px rgba(0,0,0,0.25);
    position: relative;
    border-radius: 0;

    .number {
      width: 20vw;
      height: 20vw;
      top: -10vw;
      left: 7vw;
      position: absolute;
    }

    img {
      height: 12vw;
      width: 80vw;
      margin-left: 20vw;
    }
  
    a {
      border-bottom:0;
      position: relative;
      display: block;
      padding: 5vw 0;
    }
  }

  .panel {
    border-radius: 0;
    border: 0;

    .panel-body {
      border-bottom: 0;
      padding: 5vw 5vw 7rem;
      
      a {
        color: darken($blue, 15%);
        border-bottom:0;
      }
      a:hover {
        color: darken($blue, 15%);
        border-bottom: 1px solid $blue;
      }
    }
  }
}

#headingOne {
  background-color: #3f5765;
}

#headingTwo{
  background-color: #cc3524;
}

#headingThree {
  background-color: #f38b00;
}

#headingFour {
  background-color: #dcaa00;
}

#headingFive {
  background-color: #82bc00;
}

#headingSix {
  background-color: #0075c9;
}


#accordion, .intro  {
  display: block;
  @include breakpoint(700px){
    display: none;
  }
}

#svg-stage {
  position: relative;
  display: none;
  margin: 0;
  width: 100vw;
  height: 100vh;
  
  @include breakpoint(700px){
    display: block;
  }
}

#six-circle {
  width: 100vw;
  display: block;
  height: 100vh;

  a {
    fill: darken($blue, 15%);
    text-decoration: underline;
    &:hover {
      fill: darken($blue, 20%);
      text-decoration: underline;
    }
  }

  image {
    display: none;
  }

  .step {
    cursor: pointer;

  }
  
}




